---
import { getCollection } from "astro:content";
import Primary from "~layouts/Primary.astro";
import { H1 } from "~components/elements";

const SITE_TITLE = "articles | yalin.io";
const SITE_DESCRIPTION = "articles i've written";

const posts = (await getCollection("articles")).sort((a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf());
---

<Primary title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <H1>Articles</H1>

    <ul>
        {
            posts.map((post) => (
                <li>
                    <span class="date">
                        <code>{post.data.publicationDate.getFullYear()}</code>
                        <code>•</code>
                        <code>{("0" + (post.data.publicationDate.getMonth() + 1).toString()).slice(-2)}</code>
                    </span>

                    <a class="title" href={`/articles/${post.id}/`}>
                        {post.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</Primary>

<style lang="scss">
    ul,
    li {
        margin: 0;
        padding: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    li {
        list-style-type: none;
    }

    .date {
        color: white;
        padding-right: 0.5rem;
        box-sizing: border-box;
    }
</style>
