---
import { getCollection } from "astro:content";
import MetaHead from "~components/Head.astro";
import Navigation from "~components/Navigation.astro";
import "~styles/global.scss";

const SITE_TITLE = "articles | yalin.io";
const SITE_DESCRIPTION = "articles i've written";

const articles = await getCollection("articles");
const posts = articles.sort((i, j) => j.data.publicationDate.valueOf() - i.data.publicationDate.valueOf());
---

<html lang="en">
    <head>
        <MetaHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>

    <body>
        <Navigation />

        <main>
            <h1>Articles</h1>

            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <span class="date">
                                <code>{post.data.publicationDate.getFullYear()}</code>
                                <code>•</code>
                                <code>{("0" + (post.data.publicationDate.getMonth() + 1).toString()).slice(-2)}</code>
                            </span>

                            <a class="title" href={`/articles/${post.slug}/`}>
                                {post.data.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </main>
    </body>
</html>

<style lang="scss">
    @use "~styles/landing";

    main {
        max-width: 600px;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    li {
        list-style-type: none;
    }

    .date {
        color: white;
        padding-right: 0.5rem;
        box-sizing: border-box;
    }
</style>
