---
const { date } = Astro.props;

const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

const formattedDate = `${weekdays[date.getDay()]}, ${months[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}`;
---

<div>{formattedDate}</div>

<style>
    div {
        color: lightgrey;
        font-size: small;
        padding-bottom: 0.5rem;
        box-sizing: border-box;
    }
</style>
