---
import { Image } from "astro:assets";

import Head from "~components/Head.astro";
import Navigation from "~components/Navigation.astro";
import Footer from "~components/Footer.astro";
import "~styles/global.scss";

import { A } from "~components/elements";
import identicon from "~assets/identicon.png";
import social from "~assets/about/social.json";

const title = "about | yalin.io";
const description = "about";
---

<html lang="en">
    <Head title={title} description={description} />

    <body>
        <Navigation />
        <main>
            <div class="profile">
                <Image alt="identicon" src={identicon} height="100" width="100" />
                <div class="text">
                    <div class="name">Berkay Yalin</div>
                    <div class="username">ostromia</div>
                    <!-- <div class="email">example@example.com</div> -->
                </div>
            </div>

            <div class="social">
                {
                    social.map((e) => (
                        <A href={e.url} icon>
                            {e.name}
                        </A>
                    ))
                }
            </div>
        </main>

        <Footer />
    </body>
</html>

<style lang="scss">
    @use "~styles/colors";

    main {
        max-width: 720px;
        margin: auto;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 1rem;
        box-sizing: border-box;
    }

    .profile,
    .social {
        display: flex;
        gap: 1rem;

        padding: 1rem;
        box-sizing: border-box;

        border-radius: 5px;

        background-color: colors.$foreground-color;
    }

    .profile {
        flex-direction: row;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;

            .name {
                font-size: 1.5rem;
                line-height: 1.5rem;
            }

            .username {
                color: colors.$grey;
            }
        }
    }

    .social {
        flex-direction: column;
    }
</style>
