---
import Primary from "~layouts/Primary.astro";
import { H1, A } from "~components/elements";
import RepositoryCard from "~components/RepositoryCard.astro";
import repositories from "~assets/projects/repositories.json";
import websites from "~assets/projects/websites.json";

const SITE_TITLE = "projects | yalin.io";
const SITE_DESCRIPTION = "projects i've been working on";
---

<Primary title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <H1>Websites I've Built</H1>

    <ul>
        {
            websites.map((e) => (
                <li>
                    <span class="date">
                        <code>
                            {new Date(e.date).getFullYear()}•{`0${new Date(e.date).getMonth() + 1}`.slice(-2)}
                        </code>
                    </span>

                    <A href={e.path}>{e.name}</A>
                </li>
            ))
        }
    </ul>

    <H1>Projects</H1>

    {repositories.projects.map((e) => <RepositoryCard path={e.full_name} description={e.description} language={e.languages} />)}

    <H1>Other Repositories</H1>

    {repositories.other.map((e) => <RepositoryCard path={e.full_name} description={e.description} language={e.languages} />)}
</Primary>

<style lang="scss">
    @use "~styles/colors";

    ul,
    li {
        margin: 0;
        padding: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    li {
        list-style-type: none;
    }

    .date {
        color: colors.$grey;
        padding-right: 0.5rem;
        box-sizing: border-box;
    }
</style>
