---
import RepositoryCard from "@components/RepositoryCard.astro";
import Landing from "@layouts/Landing.astro";

const cards = {
    projects: [
        {
            path: "ostromia/promethium",
            description: "Library for calculating statistical distributions, written in pure Python with zero dependencies.",
            language: ["Python"]
        },
        {
            path: "ostromia/throughtheterminal",
            description: "A simple yet customizable script to open files in the terminal.",
            language: ["Rust"]
        },
        {
            path: "ostromia/zygon",
            description: "Transpile OCR GCSE & A-Level Pseudocode into Python.",
            language: ["Svelte", "TypeScript", "SCSS"]
        }
    ],
    other_repositories: [
        {
            path: "ostromia/dotfiles",
            description: "trying to figure out how VimScript works",
            language: ["Lua", "Shell", "Python", "PowerShell", "AutoHotkey", "Vim Script"]
        },
        {
            path: "ostromia/yalin.io",
            description: "website & stuff",
            language: ["MDX", "Astro", "TypeScript", "SCSS"]
        }
    ]
};
---

<script>
    import "@scripts/projects";
</script>
<Landing>
    <div id="canvas-wrapper"></div>

    <h1>Projects</h1>

    {cards.projects.map((e) => <RepositoryCard path={e.path} description={e.description} language={e.language} />)}

    <h1>Other Repositories</h1>

    {cards.other_repositories.map((e) => <RepositoryCard path={e.path} description={e.description} language={e.language} />)}
</Landing>

<style lang="scss">
    @use "@styles/landing";

    #canvas-wrapper {
        height: calc(100dvh - 97px - 2rem);
        width: 100%;
    }
</style>
