---
import type { CollectionEntry } from 'astro:content';

import Head from '../components/Head.astro';
import Navigation from "../components/Navigation.astro";

type Props = CollectionEntry<'articles'>['data'];
const { title, description, publicationDate, updatedDate, heroImage } = Astro.props;

const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
function formatDate(date: Date) {
    return `${weekdays[date.getDay()]}, ${months[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}`;
}
---

<html lang="en">
	<head>
		<Head title={title} description={description} />
	</head>

	<body>
        <Navigation/>
		<main>
			<article>
                <div class="hero-wrapper">
                    <div class="date">{formatDate(publicationDate)}</div>
                    <div class="title">{title}</div>
                </div>

                <slot/>
            </article>
		</main>
	</body>
</html>

<style lang="scss">
    @use "../styles/global.scss";

    html, body {
        background-color: #111111;
    }

    article {
        max-width: 720px;
        margin: auto;
        padding: 1rem;
        box-sizing: border-box;
    }

    .hero-wrapper {
        margin: auto;
        text-align: center;
    }

    .date {
        font-size: 0.9rem;
    }

    .title {
        font-size: 1rem;
    }
</style>

<style lang="scss" is:global>
    * {
        color: white;
    }

    a {
        color: rgb(88, 166, 255);
    }

    .katex-html {
        display: none !important;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }
</style>
